

th, td {
  padding: 10px;
}

.nav-links {
  color: white;
  text-underline-offset: 2px;
  margin: 10px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

/* #form-component .MuiSelect-select{
  overflow: auto;
  max-height: 110px;
} */

.section-heading{
  margin-bottom: 0px;
}



